NODE_ENV=development

AppPort=3002
AppDomain=localhost

MongoServer="mongodb://127.0.0.1:27017"
MongoPassword=

adminUsername="daisy"
adminPassword="daisy@2020"

Ssl=false
SslCert="./cert.pem"
SslKey="./cert.key"